@import "style/_nullstyle.scss";
@import "style/_fonts.scss";

.wrapper {
	background: #162831;
}

//--------------------header-----------------

.header {
	height: 60px;
	margin-top: 30px;
	color: #fff;
	&__container {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__logo {
		margin-right: 15px;
	}
	&__registration {
		margin-left: 15px;
		color: inherit;
		padding: 9px 15px;
		background: #018ABE;
		border-radius: 3px;
		font-family: 'Proxima Nova';
		font-style: normal;
		font-weight: 600;
		font-size: 13px;
		line-height: 140%;
	}
}
.menu {
	&__list {
		display: flex;
		gap: 50px;
	}
	&__link {
		color: inherit;
		font-family: 'Proxima Nova';
		font-style: normal;
		font-weight: 400;
		font-size: 14px;
		line-height: 135%;
	}
	&__icon {
		display: none;
	}
}
@media (max-width: 1024px) {
	.header {
		margin-top: 15px;
		&__registration {
			padding: 9px 9px;
			min-width: 142.72px;
		}
	}
	.menu {
		&__list {
			gap: 15px;
			flex-wrap: wrap;
		}
	}
}
@media (max-width: 530px) {
	body._lock {
		overflow: hidden;
	}
	.header {
		&__container {
			display: grid;
			grid-template-columns: 1fr auto 142.72px;
			column-gap: 15px;
		}
		&__logo {
			margin-right: 0;
			z-index: 5;
		}
		&__registration {
			margin-left: 0;
			z-index: 5;
		}
	}
	.menu {
		&__icon {
			z-index: 5;
			display: block;
			position: relative;
			width: 30px;
			height: 18px;
			cursor: pointer;
			right: 0;
			& span,
			&::before,
			&::after {
				left: 0;
				position: absolute;
				height: 10%;
				width: 100%;
				transition: all 0.3s ease 0s;
				background-color: #fff;
			}
			&::before,
			&::after {
				content: '';
			}
			&::before {
				top: 0;
			}
			&::after {
				bottom: 0;
			}
			& span {
				top: 50%;
				transform: scale(1) translate(0px, -50%);
			}
		}
		&__body {
			position: fixed;
			z-index: 3;
			top: 0;
			left: -100%;
			width: 100%;
			height: 100%;
			background-color: rgba(0,0,0,0.95);
			padding: 100px 20px 20px 20px;
			transition: left 0.3s ease 0s;
			overflow: auto;
			&::before {
				content: '';
				left: -100%;
			}
			&._active {
				left: 0;
				&::before {
					position: fixed;
					width: 100%;
					top: 0;
					left: 0;
					height: 90px;
					background: rgba(0,0,0,1);
					z-index: 2;
					transition: left 0.3s ease 0s;
				}
			}
			
		}
		&__list {
			flex-direction: column;
			align-items: center;

		}
		&__link {
			font-size: 24px;
		}
	}
}

//-------------------------main-block----------------

.main-block {
	color: #fff;
	text-align: center;
	&__wrap {
		padding: 50px 0 100px 0;
		position: relative;
	}
	&__text {
		position: absolute;
		z-index: 2;
		display: flex;
		flex-direction: column;
		align-items: center;
		transform: translateX(-50%);
		left: 50%;
		margin-top: 136px;
	}	
	&__top-text {
		&:not(:last-child) {
			margin-bottom: 40px;
		}
		&_text {
			font-size: 24px;
			font-family: 'El Messiri';
			font-style: normal;
			font-weight: 700;
			line-height: 140%;
			display: flex;
			align-items: center;
			&::before {
				content: '';
				display: block;
				width: 28px;
				height: 14px;
				background: #FFFFFF;
				border-radius: 0px 50px;
				margin-right: 66px;
			}
			&::after {
				content: '';
				display: block;
				width: 28px;
				height: 14px;
				background: #FFFFFF;
				border-radius: 0px 50px;
				transform: matrix(-1, 0, 0, 1, 0, 0);
				margin-left: 66px;
			}
		}
	}
	&__title {
		font-size: 64px;
		font-family: 'El Messiri';
		font-style: normal;
		font-weight: 700;
		line-height: 140%;
		max-width: 587px;
	}
	&__img {
		max-width: 100%;
		position: relative;
		& img {
			max-width: 100%;
			height: 600px;
		}
	}
}

@media (max-width: 1326px) {
	.main-block {
		&__title {
			font-size: calc(100vw/20.72);
		}
		&__img {
			& img {
				height: calc(100vw/2.21);
			}
		}
	}
}
@media (max-width: 1190px) {
	.main-block {
		&__text {
			transform: translate(-50%, -50%);
			top: 50%;
			margin-top: 0;
		}
	}
}
@media (max-width: 900px) {
	.main-block {
		&__text {
			width: 100%;
			top: 40%;
		}
		&__top-text {
			&:not(:last-child) {
				margin-bottom: 20px;
			}
			&_text {
				font-size: 20px;
				&::before {
					width: 20px;
					height: 10px;
					border-radius: 0px 35.715px;
					margin-right: 30px;
				}
				&::after {
					width: 20px;
					height: 10px;
					border-radius: 0px 35.715px;
					margin-left: 30px;
				}
			}
		}
	}
}
@media (max-width: 800px) {
	.main-block {
		&__wrap {
			padding: 30px 0 50px 0;
		}
	}
}
@media (max-width: 530px) {
	.main-block {
		&__title {
			font-size: 30px;
		}
		&__top-text {
			&_text {
				font-size: 18px;
				&::before {
					margin-right: 20px;
				}
				&::after {
					margin-left: 20px;
				}
			}
		}
		&__img {
			border-radius: 10px;
			& img {
				height: 240px;
				object-fit: cover;
				border-radius: 10px;
			}
		}
	}
}

//--------------------------------sessions--------------------------

.sessions {
	color: #fff;
	&__wrap {
		padding: 50px 0 100px 0;
	}
	&__cardes {
		margin-top: 100px;
		display: grid;
		gap: 24px;
		grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
		grid-template-rows: repeat(2, 258px);
	}
}
.title {
	color: #fff;
	font-family: 'El Messiri';
	display: flex;
	align-items: center;
	justify-content: center;
	font-style: normal;
	font-weight: 700;
	font-size: 42px;
	line-height: 140%;
	text-align: center;
	&::before,
	&::after {
		content: '';
		display: block;
		width: 28px;
		height: 14px;
		background: #018ABE;
		border-radius: 0px 50px;
	}
	&::before {
		margin-right: 45px;
	}
	&::after {
		transform: matrix(-1, 0, 0, 1, 0, 0);
		margin-left: 45px;
	}
}
.card {
	border-radius: 20px;
	position: relative;
	&_big {
		grid-row: 1/3;
	}
	&__body {
		position: absolute;
		z-index: 2;
		bottom: 0;
		padding: 0 40px 30px 40px;
	}
	&__text {
		font-family: 'El Messiri';
		font-style: normal;
		font-weight: 700;
		font-size: 24px;
		line-height: 140%;
	}
	& img {
		position: relative;
		width: 100%;
		height: 100%;
		border-radius: 20px;
	}
}
@media (max-width: 800px) {
	.sessions {
		&__cardes {
			margin-top: 30px;
		}
	}
	.title {
		font-size: 32px;
		&::before {
			margin-right: 30px;
		}
		&::after {
			margin-left: 30px;
		}
	}
}
@media (max-width: 530px) {
	.title {
		font-size: 24px;
		&::before {
			margin-right: 15px;
		}
		&::after {
			margin-left: 15px;
		}
	}
}
@media (max-width: 430px) {
	.sessions {
		&__cardes {
			gap: 24px;
			grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
		}
	}
	.card {
		&__text {
			font-size: 20px;
		}
		& img {
			object-fit: cover;
		}
	}
}

//----------------------------------reviews--------------------------

.reviews {
	&__container {
		max-width: 1736px;
		overflow: hidden;
	}
	&__wrap {
		padding: 50px 0 100px 0;
	}
	&__title:not(:last-child) {
		margin-bottom: 100px;
	}
}
.slick-track {
	display: flex;
	align-items: center;
	justify-content: center;
}
.slider .slick-dots {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 60px;
	& li {
		list-style: none;
		margin: 0 20px;
	}
	& button {
		font-size: 0;
		width: 16px;
		height: 16px;
		background: #FFFFFF;
		opacity: 0.4;
		border-radius: 3px;
	}
}
.slider .slick-dots li.slick-active button {
	opacity: 1;
}
.slid {
	padding: 40px 45px;
	opacity: 0.4;
	background: #018ABE;
	border-radius: 10px;
	color: #fff;
	max-width: 500px;
	margin: 0 25px;
	&__title {
		font-family: 'Proxima Nova';
		font-style: normal;
		font-weight: 700;
		font-size: 20px;
		line-height: 140%;
		&:not(:last-child) {
			margin-bottom: 15px;
		}
	}
	&__text {
		font-family: 'Proxima Nova';
		font-style: normal;
		font-weight: 300;
		font-size: 10px;
		line-height: 140%;
	}
	&.slick-center {
		max-width: 636px;
		padding: 50px 60px;
		opacity: 1;
		& .slid__title {
			&:not(:last-child) {
				margin-bottom: 20px;
			}
		}
		& .slid__text {
			font-size: 14px;
		}
	}
}
@media (max-width: 680px) {
	.slider .slick-dots {
		margin-top: 30px;
	}
	.slid {
		&.slick-center {
			max-width: 636px;
			padding: 20px 25px;
		}
	}
}